/* Circle effect around the image */
.hover-tab-menu .tab-menu li .circle-effect {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    bottom: 10%;
    right: 10%;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }
  
  .hover-tab-menu:hover .tab-menu li .circle-effect {
    bottom: 25%;
    right: 25%;
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.3);
  }
  